@tailwind base;
@tailwind components;

@font-face {
  font-family: Sporting Grotesque;
  font-weight: 400;
  src: url(./../fonts/Sporting_Grotesque-Regular_web.woff) format("woff");
}
@font-face {
  font-family: Sporting Grotesque;
  font-weight: 500;
  src: url(./../fonts/Sporting_Grotesque-Bold_web.woff) format("woff");
}

@tailwind utilities;
